{% extends "base.html" %}

{% block content %}

<div class="container-fluid d-flex justify-content-between" style="padding:0px!important;">
    <div>
      <h3>{{course.title}}</h3>
      <h6>Description: {{course.description}} | Rating: {{course.rating}} | Author: {{course.teacher.first_name}} {{course.teacher.last_name}}</h6>
    </div>
    <div>
      {% if course.teacher.email == user.email %}
        <button type="button" class="btn btn-primary mt-4">Edit</button>
      {% endif %}
    </div>
  </div>

<hr>
<div class = "learn">
<h4 style="color:#2F5DFF">Learning Objectives:</h4>
<ul>
    <br>
    {% set list1 = course.objectives.split(',') %}

    {% for item in list1 %}
      <li>- {{ item }} </li>
    {% endfor %} 

</ul>
</div>
<br>

<br>
<hr>
<ul>
{% for section in  course.sections %}
<div class="section">
    
<a class="un" href="./sections/{{section.id}}"><li>{{section.title}}</li></a>

</div>
{% endfor %}
</ul>
</div>
{% endblock content %}