{% extends "base.html" %}

{% block content %}

<div class="container-fluid d-flex justify-content-between" style="padding:0px!important;">
    <div>
      <h3>{{course.title}}</h3>
      <h6>Description: {{course.description}} | Rating: {{course.rating}} | Author: {{course.teacher.first_name}} {{course.teacher.last_name}}</h6>
    </div>
    <div>
      {% if course.teacher.email == user.email %}
        <button type="button" class="btn btn-primary mt-4">Edit</button>
      {% endif %}
    </div>
  </div>

<hr>
<div class = "learn">
<ul>
    <br>
    <h4 style="color:#2F5DFF">What will you learn?</h4>
    <li>
        <p>{{course.objectives}}</p>
    </li>
</ul>
</div>
<hr>
<ul>
{% for section in  course.sections %}
<div class="section">
    
<li><a class="un" href="">{{section.title}}</a></li>
    <p style="margin-bottom:0px!important;color:#bfc0c2!important;">Progress 0/5</p>

</div>
{% endfor %}
</ul>
{% endblock content %}