{% extends "base.html" %}

{% block content %}


<div class="container-fluid d-flex justify-content-between" style="padding:0px!important;">
    <div>
      <h3>{{course.title}}</h3>
      <h6>Description: {{course.description}} | Rating: {{course.rating}} | Author: {{course.teacher.first_name}} {{course.teacher.last_name}}</h6>
    </div>
    <div>
      {% if course.teacher.email == user.email %}
        <button type="button" class="btn btn-primary mt-4">Edit</button>
      {% endif %}

      {% if user.role == "student" and course.id not in student_courses %}
        <form action="./enroll" method="GET">
        <button type="submit" class="btn btn-primary mt-4">Enroll</button>
        </form>
      {% endif %} 
    </div>
  </div>

<hr>
<div class = "learn">
<h4 style="color:#2F5DFF">Learning Objectives:</h4>
<ul>
    <br>
    {% set list1 = course.objectives.split(',') %}

    {% for item in list1 %}
      <li>- {{ item }} </li>
    {% endfor %} 

</ul>
</div>
<hr>
<ul>
{% for section in  sections %}
<div class="section">
{% if course.id in student_courses or user.role == "teacher" %}
<a class="un" href="./sections/{{section.id}}"><li>{{section.title}}</li></a>
{% else %}
<a class="un" href=""><li>{{section.title}}</li></a>
{% endif %}
</div>
{% endfor %}
</ul>
</div>
{% endblock content %}