{% extends "base.html" %}


{% block content %}

{% if user %}

{% else %}

<div class="jumbotron">
  <h1 class="title">Grooming the next digital builders</h1>
  <hr class="my-4">
  <p>We prepare school students to be bold inventors. Launch and advance successful careers. Connect leading companies with talent to power businesses.</p>

</div>

<hr>

{% endif %}

{% if message %}
<h4 style="color:#grey;">{{message}}:</h4>
{% else %}
<h4 style="color:#grey;">Courses:</h4>
{% endif %}
<hr>


{% if courses %}
  {% for course in courses["items"] %}
  
    <div class="row">
      {% if user %}
      <!-- CHECK USER ROLE-->
      {% if user.role == "student" or user.role == "teacher" or user.role == "admin" %}
      
      <div class="col-lg-4 col-md-6 img-container">
        {% if course.premium %}
        <span class="badge bg-warning text-dark">Premium Course</span>
        {% endif %}
        {% if course.course_picture %}
        <a href="./courses/{{course.id}}/"><img class="thumbnail rounded img-fluid" src="/assets/{{course.course_picture}}" alt="" width="400" height="auto" class="img-fluid"></a>
        {% else %}
        <a href="./courses/{{course.id}}/"><img class="thumbnail rounded img-fluid" src="/assets/no_thumbnail.png" alt="" width="400" height="auto" class="img-fluid"></a>
        {% endif %}      
      </div>

      <div class="col-xl-6 col-lg-4 col-md-6">
        <a href="./courses/{{course.id}}"><h2 class="title">{{ course.title }}</h2></a>
        <h6>{{ course.description }}</h6>
        <p>by {{ course.teacher.first_name }} {{ course.teacher.last_name }}</p>
        <br>
      {% endif %}
      {% else %}

      <div class="col-lg-4 col-md-6">
        {% if course.course_picture %}
          <a href=" ">      
            <img class="thumbnail rounded img-fluid" src="/assets/{{course.course_picture}}" alt="" width="400" height="auto" class="img-fluid"></a>
        {% else %}
        <a href=""><img class="thumbnail rounded img-fluid" src="/assets/no_thumbnail.png" alt="" width="400" height="auto" class="img-fluid"></a>
        {% endif %}      
      </div>

      <div class="col-xl-6 col-lg-4 col-md-6">
        <a href=""><h2 class="title">{{ course.title }}</h2></a>
        <h6>{{ course.description }}</h6>
        <p>by {{ course.teacher.first_name }} {{ course.teacher.last_name }}</p>
        <br>

      {% endif %}
        <ul style="list-style-type: none;padding-left:0!important;">
          {% for tag in course.tags %}
            <a href="./?tag={{tag}}"><li class="tag" style="display: inline-block!important;">{{tag}}</li></a>
          {% endfor %}
        </ul>
      </div>

      <div class="col-lg-2 col-md-12 text-end">
        <div class="Stars" style="--rating: {{course.rating}};"></div>
      </div>
      
    </div>

    
    <hr>

  {% endfor %}
{% endif %}

{% if most_popular %}
<h4>Popular Courses:</h4>
{% endif %}
{% include 'popular.html' %} 

<script>

</script>


{% endblock content %}