
{% if most_popular %}

<div class="col-lg-12 mt-4">

  <div class="d-flex justify-content-between">
    {% for course in most_popular %}

      <div>
        {% if user.role == "student" or user.role == "teacher" or user.role == "admin" %}

        <div class="card" style="width: 19rem;">
            {% if course.course_picture %}
            <a href="./courses/{{course.id}}" ><img class="card-img-top" src="{{ url_for('assets', path=course.course_picture) }}" width="320" height="auto" alt=""></a>
            {% else %}
            <a href="./courses/{{course.id}}" ><img class="card-img-top" src="{{ url_for('assets', path='no_thumbnail.png') }}" width="320" height="auto" alt=""></a>
            {% endif %}
          <div class="card-body">
            <h5 style="height: 60px;" class="card-title">{{course.title}}</h5>
            <p class="card-text">{{course.description[:22] + '...' if course.description|length > 22 else course.description}}</p>
            <a href="#" class="btn btn-primary popular_btn">Take a Look</a>
          </div>
        </div>
        {% else %}

        <div class="card" style="width: 19rem;">
          {% if course.course_picture %}
          <a href="" ><img class="card-img-top" src="{{ url_for('assets', path=course.course_picture) }}" width="320" height="auto" alt=""></a>
          {% else %}
          <a href="" ><img class="card-img-top" src="{{ url_for('assets', path='no_thumbnail.png') }}" width="320" height="auto" alt=""></a>
          {% endif %}
        <div class="card-body">
          <h5 style="height: 60px;" class="card-title">{{course.title}}</h5>
          <p class="card-text">{{course.description[:22] + '...' if course.description|length > 22 else course.description}}</p>
          <a href="#" class="btn btn-primary popular_btn">Take a Look</a>
        </div>
      </div>
      {% endif %}
      </div>

    {% endfor %}
  </div>
  <br>
  </div>
<br>


{% endif %}
